<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'lms/styles.css' %}">
    <link rel="stylesheet" href="{% static 'lms/dashboard.css' %}"> <!-- New external CSS file -->
</head>
<body>
    <header class="header-container">
        <div class="header-wrapper">
            <div class="nav-left">
                <h1>Dashboard</h1>
                {% if courses %}
                    <a href="{% url 'course_details' %}">View Courses</a>
                {% else %}
                    <a href="#">No courses available</a>
                {% endif %}
                <a href="#">User Management</a>
                <a href="#">Trainer Applications</a>
                <a href="#">Reports</a>
                <a href="#">Site Settings</a>
            </div>
            <div class="nav-right">
                <a href="{% url 'lms:logout' %}" class="logout-btn">Logout</a>
            </div>
        </div>
    </header>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
